version: '3.8'

services:
  nuxt:
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_REPO}:${TAG:-production}
    platform: linux/amd64
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    restart: unless-stopped